<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.UranusPositionMapper">
    
    <resultMap type="UranusPosition" id="UranusPositionResult">
        <result property="positionId"    column="position_id"    />
        <result property="positionName"    column="position_name"    />
        <result property="positionNetWorth"    column="position_net_worth"    />
    </resultMap>

    <sql id="selectUranusPositionVo">
        select position_id, position_name, position_net_worth from uranus_position
    </sql>

    <select id="selectUranusPositionList" parameterType="UranusPosition" resultMap="UranusPositionResult">
        <include refid="selectUranusPositionVo"/>
        <where>  
            <if test="positionName != null  and positionName != ''"> and position_name like concat('%', #{positionName}, '%')</if>
            <if test="positionNetWorth != null  and positionNetWorth != ''"> and position_net_worth = #{positionNetWorth}</if>
        </where>
    </select>
    
    <select id="selectUranusPositionByPositionId" parameterType="Long" resultMap="UranusPositionResult">
        <include refid="selectUranusPositionVo"/>
        where position_id = #{positionId}
    </select>
        
    <insert id="insertUranusPosition" parameterType="UranusPosition" useGeneratedKeys="true" keyProperty="positionId">
        insert into uranus_position
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="positionName != null and positionName != ''">position_name,</if>
            <if test="positionNetWorth != null">position_net_worth,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="positionName != null and positionName != ''">#{positionName},</if>
            <if test="positionNetWorth != null">#{positionNetWorth},</if>
         </trim>
    </insert>

    <update id="updateUranusPosition" parameterType="UranusPosition">
        update uranus_position
        <trim prefix="SET" suffixOverrides=",">
            <if test="positionName != null and positionName != ''">position_name = #{positionName},</if>
            <if test="positionNetWorth != null">position_net_worth = #{positionNetWorth},</if>
        </trim>
        where position_id = #{positionId}
    </update>

    <delete id="deleteUranusPositionByPositionId" parameterType="Long">
        delete from uranus_position where position_id = #{positionId}
    </delete>

    <delete id="deleteUranusPositionByPositionIds" parameterType="String">
        delete from uranus_position where position_id in 
        <foreach item="positionId" collection="array" open="(" separator="," close=")">
            #{positionId}
        </foreach>
    </delete>
</mapper>